<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
</head>
<body>
    <div class="container">
        {{!-- Header --}}
        {{> partials/header/header title=htmlWebpackPlugin.options.title}}

        {{!-- Main --}}
        <p class="container__text">Hello World!!!</p>
    </div>
</body>
</html>
